<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dj4e-code" content="42161579459754">
    <meta name="dj4e" content="b18e8fb514012229891cf024b6436526">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_menu.html" %}

{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <p>
    Hello world.
    </p>
    <a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
{% endblock content %}
</body>
</html>